<div id="banner">
  <div id="intro">
    <h1 class="display-1">Hola, I'm Jorge!</h1>
    <p>Information Technologist, Web Developer, Professor, Art and Photograph Enthusiast, Gamer, and Jedi</p>
  </div>
</div>

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="">Jorge Sepúlveda</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="projects">Projects</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://facebook.com/jorluiseptor" target="_blank"><i class="ion-social-facebook"></i></a>        
        <a class="nav-item nav-link" href="https://snapchat.com/add/coderedpr" target="_blank"><i class="ion-social-snapchat"></i></a>        
        <a class="nav-item nav-link" href="https://twitter.com/jorluiseptor" target="_blank"><i class="ion-social-twitter"></i></a>        
        <a class="nav-item nav-link" href="https://github.com/jorluiseptor" target="_blank"><i class="ion-social-github"></i></a>        
        <a class="nav-item nav-link" href="https://www.twitch.tv/coderedpr" target="_blank"><i class="ion-social-twitch"></i></a>        
        <a class="nav-item nav-link" href="https://www.linkedin.com/in/jorluiseptor/" target="_blank"><i class="ion-social-linkedin"></i></a>        
        <a class="nav-item nav-link" href="mailto:jorluiseptor@gmail.com" target="_blank"><i class="ion-email"></i></a>        
      </div>
    </div>
  </div>
</nav>

<div class="container pt-3">
      <router-outlet></router-outlet>
</div>