
#banner {
    height:100vh;
    background-image: url('/assets/images/background.jpg');
    background-size: cover;
    background-position: right;
    position: relative;

    #intro {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffffbf;
        padding: 1em;
    }
}

footer {
    border-top: 1px solid rgba(0,0,0,.125);
    .social {
        display: flex;
        flex: initial;
        justify-content: center;
        a {
            margin: 1em;
        }
    }
}