body {
    padding-top: 50px;
}
html {
       overflow-y: scroll;
}
/*align material icons*/
.material-icons {
    position: relative;
    top: 2px;
    font-size: inherit;
}

.navbar-brand img {
    width: 25px;
    border-radius: 50%;
    position: relative;
    bottom: 2px;
}

h1 {
    font-size: 36px;
}