<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a [routerLink]="['/']" class="navbar-brand"><span class="site-title-long hidden-xs">Jorge Sepúlveda</span><span class="site-title-short hidden-sm hidden-md hidden-lg">JS</span></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/about']"> <i class="material-icons">face</i> About </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/code', 'jorluiseptor']">
            <i class="material-icons">code</i> Code
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li [routerLinkActive]="['active']">
          <a href="#"> <i class="material-icons">email</i> Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">


  <main>
    <router-outlet></router-outlet>
  </main>
</div>


<footer>
  <div class="container">
    © 2016
  </div>
</footer>