<div class="row">
    <div class="col-12 col-lg-6">
  
      <h2 class="display-4">
        Hola, I'm Jorge
      </h2>
      <p class="">
        <span class="lead">My name is Jorge Sepulveda. I'm an Information Technology Specialist located in the Washington, DC area.</span> But what I really do is create solutions for people using Web technology and information systems. I lead a team of great developers within the USA Federal Goverment. I'm also an adjunct professor of computer science at the Ana G. Mendez University System.
      </p>
    </div>
</div>