<div class="row">
  <div class="col-12 col-lg-6">

    <h2 class="display-4">
      About me
    </h2>
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quos consequuntur facilis modi totam, rem culpa eveniet quod possimus? Delectus incidunt rem non obcaecati explicabo nemo eligendi, nisi quis dolor.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quos consequuntur facilis modi totam, rem culpa eveniet quod possimus? Delectus incidunt rem non obcaecati explicabo nemo eligendi, nisi quis dolor.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quos consequuntur facilis modi totam, rem culpa eveniet quod possimus? Delectus incidunt rem non obcaecati explicabo nemo eligendi, nisi quis dolor.
    </p>
  </div>
</div>