<h1 class="display-4">
  My work
</h1>
<p class="lead">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam modi ipsum reprehenderit eius quisquam pariatur. Provident quis excepturi optio voluptatibus est, repudiandae architecto nihil, vitae deserunt esse quae velit ex!
</p>
<div class="row">
  <div class="col-sm-12 col-lg-6">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem adipisci, mollitia laboriosam possimus nesciunt blanditiis aliquid reiciendis, illo culpa voluptatem provident debitis fuga quod minus quas voluptatibus vel. Placeat, quo.
  </div>
  <div class="col-sm-12 col-lg-6">
    <app-github></app-github>
  </div>
</div>