<div class="row">
    <div class="col-md-12">
        <h1>My code</h1>
        <p>I enjoy building software. Some of the solutions I've made is publicly shared on Github. Here are my repositories.</p>
        <p>
            <img src="{{userProfile.avatar_url}}" alt="Jorge on Github" class="img-circle avatar">
        </p>
        <ul class="list-inline">
            <li>
                Followers <span class="badge">{{userProfile.followers}}</span>
            </li>
            <li>
                Following <span class="badge">{{userProfile.following}}</span>
            </li>
            <li>
                Public repositories <span class="badge">{{userProfile.public_repos}}</span>
            </li>
            <li>
                Public gists <span class="badge">{{userProfile.public_gists}}</span>
            </li>
        </ul>
        <p>
            <a href="{{userProfile.html_url}}" class="btn btn-default" target="_blank">View my Github profile.</a>
        </p>
        <pre>{{userProfile | json }}</pre>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            <a *ngFor="let repo of repos | async" class="list-group-item" [routerLink]="['/code',repo.owner.login,repo.name]" [routerLinkActive]="['active']">
                <i class="material-icons">code</i>  
                {{repo.name}}
            </a>
        </div>
    </div>
    <div class="col-md-8" >
        <router-outlet></router-outlet>
    </div>
</div>

