#gh-repositories {
    list-style: none;
    padding: 0;
    .repo { 
        border:1px solid;
        margin:1em;
        padding: 1em;
    }
    .repo-name, .repo-description {
        display: block;

    }
}